.home-container {
  padding-top: 100px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.page-title {
  margin-bottom: 30px;
  font-size: 2rem;
  border-left: 5px solid #e50914;
  padding-left: 15px;
}

.movies-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}